# Final Project

## 파이썬 환경 설정 및 확인

In [ ]:
# C:/Users/TECH2_22/이도원/usingcloud_final/venv/Scripts/python.exe

In [20]:
import os

os.getcwd()

'c:\\Users\\TECH2_22\\이도원\\usingcloud_final'

In [1]:
print('hello world')

hello world

In [2]:
!python --version

Python 3.8.8

## 데이터 로드 및 설정

### 최초 1회만 실행할 것.

In [ ]:
# import pandas as pd
# import numpy as np

# with open('./data/train_original.json', encoding='utf-8') as train_f:
#     train_df = pd.read_json(train_f, encoding='utf-8')

# with open('./data/valid_original.json', encoding='utf-8') as valid_f:
#     valid_df = pd.read_json(valid_f, encoding='utf-8')

# train_df.to_csv("./data/train_original.csv", index=False)
# valid_df.to_csv("./data/valid_original.csv", index=False)

In [38]:
import pandas as pd
import numpy as np
import gc

# 더 빠르고 효율적인 데이터 로드 방식
def csv_to_parquet(csv_path, save_name):
    df = pd.read_csv(csv_path)
    df.to_parquet(f'./data/{save_name}.parquet')
    del df
    gc.collect()
    print(save_name, 'Done.')

csv_to_parquet('./data/train_original.csv', 'train_df')
csv_to_parquet('./data/valid_original.csv', 'valid_df')

train_df = train_df.copy()
valid_df = valid_df.copy()

train_df Done.
valid_df Done.

## eda

In [17]:
train_df.head()

,name,delivery_date,documents
0,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741778', 'category': '종합', 'media_t..."
1,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741792', 'category': '종합', 'media_t..."
2,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741793', 'category': '스포츠', 'media_..."
3,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741794', 'category': '정치', 'media_t..."
4,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741797', 'category': '종합', 'media_t..."

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243983 entries, 0 to 243982
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           243983 non-null  object
 1   delivery_date  243983 non-null  object
 2   documents      243983 non-null  object
dtypes: object(3)
memory usage: 5.6+ MB

In [22]:
train_df.shape

(243983, 3)

In [23]:
train_df.isnull().sum()

name             0
delivery_date    0
documents        0
dtype: int64

In [29]:
train_df.columns

Index(['name', 'delivery_date', 'documents'], dtype='object')

In [30]:
train_df.name.value_counts()

name
문서요약 프로젝트    243983
Name: count, dtype: int64

In [37]:
import pprint

pprint.pprint(train_df.documents[0])

{'abstractive': ['전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 벼를 심었던 논에 벼 대신 사료작물이나 콩 등 '
                 "다른 작물을 심으면 벼와의 일정 소득차를 보전해주는 '쌀 생산조정제'를 적극적으로 시행하기로 하고 오는 "
                 '22일부터 2월 28일까지 농지 소재지 읍면동사무소에서 신청받는다 .'],
 'annotator_id': 11,
 'category': '종합',
 'char_count': '927',
 'document_quality_scores': {'accurate': 3,
                             'informative': 3,
                             'readable': 4,
                             'trustworthy': 3},
 'extractive': [2, 3, 10],
 'id': '290741778',
 'media_name': '광양신문',
 'media_sub_type': '지역지',
 'media_type': 'online',
 'publish_date': '2018-01-05 18:54:55',
 'size': 'small',
 'text': [[{'highlight_indices': '',
            'index': 0,
            'sentence': 'ha당 조사료 400만원…작물별 차등 지원'}],
          [{'highlight_indices': '',
            'index': 1,
            'sentence': '이성훈 sinawi@hanmail.net'}],
          [{'highlight_indices': '',
            'index': 2,
            'sentence': '전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를 적극 '
                        '추진키로 했다.'}],
          [{'highlight_indices': '35,37',
            'index': 3,
            'sentence': '쌀 생산조정제는 벼를 심었던 논에 벼 대신 사료작물이나 콩 등 다른 작물을 심으면 벼와의 일정 '
                        '소득차를 보전해주는 제도다.'}],
          [{'highlight_indices': '9,11;33,34',
            'index': 4,
            'sentence': '올해 전남의 논 다른 작물 재배 계획면적은 전국 5만ha의 약 21%인 1만 698ha로, '
                        '세부시행지침을 확정, 시군에 통보했다.'},
           {'highlight_indices': '50,52',
            'index': 5,
            'sentence': '지원사업 대상은 2017년산 쌀 변동직불금을 받은 농지에 10a(300평) 이상 벼 이외 다른 '
                        '작물을 재배한 농업인이다.'}],
          [{'highlight_indices': '24,26',
            'index': 6,
            'sentence': '지원 대상 작물은 1년생을 포함한 다년생의 모든 작물이 해당되나 재배 면적 확대 시 수급과잉이 '
                        '우려되는 고추, 무, 배추, 인삼, 대파 등 수급 불안 품목은 제외된다.'}],
          [{'highlight_indices': '8,10;11,13',
            'index': 7,
            'sentence': '농지의 경우도 이미 다른 작물 재배 의무가 부여된 간척지, 정부매입비축농지, 농진청 시범사업, '
                        '경관보전 직불금 수령 농지 등은 제외될 예정이다.'}],
          [{'highlight_indices': '',
            'index': 8,
            'sentence': 'ha(3000평)당 지원 단가는 평균 340만원으로 사료작물 400만원, 일반작물은 340만원, '
                        '콩·팥 등 두류작물은 280만원 등이다.'},
           {'highlight_indices': '',
            'index': 9,
            'sentence': '벼와 소득차와 영농 편이성을 감안해 작물별로 차등 지원된다.'}],
          [{'highlight_indices': '3,5',
            'index': 10,
            'sentence': '논에 다른 작물 재배를 바라는 농가는 오는 22일부터 2월 28일까지 농지 소재지 읍면동사무소에 '
                        '신청해야 한다.'}],
          [{'highlight_indices': '32,33;69,70',
            'index': 11,
            'sentence': '전남도는 도와 시군에 관련 기관과 농가 등이 참여하는‘논 타작물 지원사업 추진협의회’를 구성, '
                        '지역 특성에 맞는 작목 선정 및 사업 심의 등을 본격 추진할 방침이다.'}],
          [{'highlight_indices': '26,28;39,41;97,98;110,112',
            'index': 12,
            'sentence': '최향철 전라남도 친환경농업과장은 “최근 쌀값이 다소 상승추세에 있으나 매년 공급과잉에 따른 가격 '
                        '하락으로 쌀농가에 어려움이 있었다”며“쌀 공급과잉을 구조적으로 해결하도록 논 타작물 재배 '
                        '지원사업에 많이 참여해주길 바란다”고 말했다.'}]],
 'title': '논 타작물 재배, 2월 말까지 신청하세요'}

## 전처리

In [33]:
train_df.delivery_date = pd.to_datetime(train_df.delivery_date)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243983 entries, 0 to 243982
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           243983 non-null  object
 1   delivery_date  243983 non-null  datetime64[ns]
 2   documents      243983 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 5.6+ MB

## 여기가 끝